# packwiz: скачанные лаунчером/командой `packwiz install` моды в гит не идут.
# Исключение — 15 запиненных jar'ов ниже: их нет на Modrinth, они часть репы.
mods/*.jar
!mods/Apofix-1.21.1-1.0.0.jar
!mods/FMMWorldgen-1.0.0.jar
!mods/UIQuest-neoforge-1.21.1-1.0.4.jar
!mods/create-aeronautics-bundled-1.21.1-1.3.2-FIXED.jar
!mods/framework-neoforge-1.21.1-0.13.11.jar
!mods/fmm_teams-0.1.0.jar
!mods/ftb-library-neoforge-2101.1.35.jar
!mods/ftb-quests-neoforge-2101.1.34.jar
!mods/ftb-teams-neoforge-2101.1.11.jar
!mods/harderdiesel-1.4.0.jar
!mods/lineage_core-2.0.1.jar
!mods/meowaddons-1.0.0.jar
!mods/meowhex.jar
!mods/panoptic_recipe_builder-1.21.1-1.0.0.jar
!mods/sablexaeromaps-1.21.1-1.4.0.jar
!mods/waterwheelbearing-3.0.0.jar

# Локальные экспортные артефакты (боевые лежат в GitHub Releases)
*.mrpack
AquaSMP-*.zip
prism-stage/

# Если пак случайно открывают как PrismLauncher-инстанс
instance.cfg
/mmc-pack.json
mmc-pack.json.bak
!prism/mmc-pack.json
logs/
saves/
screenshots/
crash-reports/

# OS / IDE
Thumbs.db
.DS_Store
.idea/
.vscode/
*.iml
